.nav {
  color: var(--accent);
  max-width: 100%;
  padding: var(--size-5) var(--size-8);
  display: flex;
  gap: var(--size-2);
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu {
  display: flex;
  gap: var(--size-5);
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  gap: var(--size-5);
  list-style-type: none;
  align-content: center;
}

.links li {
  align-content: center;
  transition: transform 0.1s linear;
}

.links li:hover {
  transform: scale(1.25);
}

.menu a {
  font-size: var(--font-size-4);
}
