.main {
  max-width: var(--size-content-5);
  padding: var(--size-10) var(--size-7) var(--size-7) var(--size-7);
  display: grid;
  gap: var(--size-7);
}

.courseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-5);
}
