
.header h1 {
  font-size: var(--size-8);
}

.header p {
  font-size: var(--size-6);
  color: var(--text2);
  font-weight: var(--font-weight-8);
  text-transform: capitalize;
  margin: 0;
}

.markdown {
  width: 100%;
}

.markdown b, .markdown a, .markdown strong {
  color: var(--accent);
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin: var(--size-5) 0;
  font-weight: var(--font-weight-8);
  text-transform: capitalize;
}

.markdown p {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-5);
}

.markdown a {
  text-decoration: underline;
}

.markdown img {
  width: 80%;
  margin: auto;
  display: block;
}

.markdown .katex-html {
  font-family: var(--font-rubik);
  border-radius: var(--radius-3);
}

.markdown .katex span {
  color: var(--text2);
  font-size: var(--font-size-3);
}

.markdown .katex .mord .mtight {
  font-size: var(--font-size-1);
  padding: var(--size-1);
}

.markdown ol {
  list-style-type: decimal;
  padding-left: var(--size-5);
}

.markdown ol ::marker {
  color: var(--accent);
}

.markdown ul {
  list-style-type: none;
  padding-left: var(--size-5);
}

.markdown ul li::before {
  content: ">";
  color: var(--text3);
  margin-right: var(--size-2);
}

.markdown ul li,
.markdown ol li {
  margin-top: var(--size-2);
  margin-bottom: var(--size-2);
  padding-left: var(--size-2);
  padding-right: var(--size-2);
}
