
.skeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
  animation: var(--animation-blink);
}

.skeletonTitle {
  height: var(--size-7);
  width: var(--size-content-2);
  background-color: var(--text3);
  border-radius: var(--radius-1);
}

.skeletonSubTitle {
  height: var(--size-5);
  width: var(--size-content-1);
  background-color: var(--text3);
  border-radius: var(--radius-1);
}

.skeletonDescription {
  height: var(--size-3);
  width: 100%;
  background-color: var(--text3);
  border-radius: var(--radius-1);
}

.skeletonContent {
  height: var(--size-2);
  width: 100%;
  background-color: var(--text3);
  border-radius: var(--radius-1);
}