.skeleton {
  width: 20px;
  height: 20px;
  background-color: var(--text3);
}

.skeletonImage {
  width: 48px;
  height: 48px;
  border-radius: var(--radius-2);
  background-color: var(--text3);
  animation: var(--animate-blink);
}