.nav {
  color: var(--accent);
  max-width: 100%;
  padding: var(--size-3) var(--size-8) var(--size-3) var(--size-8);
  display: flex;
  gap: var(--size-2);
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.links {
  display: flex;
  gap: var(--size-5);
  list-style-type: none;
  align-content: center;
}

.links li {
  transition: transform 0.1s linear;
}

.links li:hover {
  transform: scale(1.25);
}

.links a {
  color: var(--accent);
  text-decoration: none;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-8);
}
