.main {
  padding-top: var(--size-10);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--size-8);
}

.header h1 {
  font-size: var(--size-9);
}

.header h2 {
  color: var(--text3);
}

.main a {
  transition: transform 0.1s linear;
  color: var(--accent);
  text-decoration: none;
  font-size: var(--size-5);
  font-weight: 600;
}

.main a:hover {
  transform: scale(1.25);
}
